<footer class="bg-light">
  <div class="container">
    <div class="row py-3">
      <div class="col-md-3 text-center text-md-left">
        <p>© {{today | date: 'yyyy'}} HackRegina, Inc</p>
      </div>
      <div class="col-md-9 text-center text-md-right">
        <p>
          <a alt="Facebook" href="https://www.facebook.com/HackRegina"><i class="fab fa-facebook-square fa-2x px-2"></i><span
            class="sr-only">Facebook</span></a>
          <a alt="Twitter" href="http://twitter.com/HackRegina"><i class="fab fa-twitter-square fa-2x px-2"></i><span
            class="sr-only">Twitter</span></a>
          <a alt="Github" href="https://github.com/HackRegina"><i class="fab fa-github-square fa-2x px-2"></i><span
            class="sr-only">Github</span></a>
          <a alt="linkedIn" href="https://www.linkedin.com/company/hackregina/"><i
            class="fab fa-linkedin fa-2x px-2"></i><span class="sr-only">linkedIn</span></a>
        </p>
      </div>
    </div>
  </div>
</footer>
