<div class="container">
  <div class="row">
    <div class="col-12 mt-4">
      <h3>Speaking at HackRegina Tech Talks</h3>
    </div>
    <div class="col-12">
      <p>
        Would you like to speak at a HackRegina event? We welcome you! Of course, we
        have guidelines that we ask all of our presenters to follow. These guidelines
        ensure that our members receive value from every presentation, that the speakers
        receive value through interaction with our members and that our sponsors are well
        represented.
      </p>
    </div>
    <div class="col-12 mt-4">
      <h3>Speaker Guidelines</h3>
    </div>
    <div class="col-12">
      <ol>
        <li>
          You must LOVE tech as much as we do. This is the perfect opportunity to preach to the choir. We are a general
          tech community and welcome talks on a broad range of topics from deep dives in to a specific tech, to
          experiences with a new language or framework, to startup life and culture.
        </li>
        <li>
          No sales pitches. HackRegina is an informal group of professionals who get together every month because we
          want to, not as part of our jobs or career development. The meeting is definitely not meant as a means to be
          sold new products. So leave the sell sheets and the brochures at the office. Don’t call us, we’ll call you.
          Focus on making a good impression on a human level, rather than on a product level. Chances are, if we like
          you as a person, we’ll be more inclined to check out your product.
        </li>
        <li>
          Attend some of our meetings prior to presenting. This is arguably the best way to get a sense for the
          community you’ll be addressing. If you can’t make it to a meeting, try joining our <a
          href="https://hackregina.slack.com/messages/coffeecrew/">#coffeecrew</a> channel on
          slack where you'll get matched with a new member to meet up with every couple of weeks.
        </li>
        <li>
          We record many of our presentations on video. Videos are shared on the web. You’re welcome to use the video on
          your own blog or web site.
        </li>
        <li>
          Presentations last for <strong>45 minutes</strong>. You can do 30 minutes of speaking followed by 15 minutes
          of Q & A, or you can use the entire 45 minutes interactively. Your call!
        </li>
      </ol>
    </div>
    <div class="col-12 mt-4">
      <h3>Typical Tech Talk Agenda</h3>
    </div>
    <div class="col-12">
      Most HackRegina tech talks follow this agenda:
      <ul>
        <li>[30 minutes] Networking + eating refreshments (if provided).</li>
        <li>[45 minutes] Speaker presentation + Q&A</li>
        <li>[? minutes] Hangout or head to a nearby restaurant/pub for after presentation conversation.</li>
      </ul>
    </div>
    <div class="col-12 mt-4">
      <h3>Submit a Talk</h3>
    </div>

    <div class="col-8">
      <form [formGroup]="form" class="needs-validation" novalidate>
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" formControlName="title" required>
          <div class="invalid-feedback">
            Required.
          </div>
        </div>
        <div class="form-group">
          <label for="name">Your name</label>
          <input type="text" class="form-control" id="name" formControlName="name" required>
          <div class="invalid-feedback">
            Required.
          </div>
        </div>
        <div class="form-group">
          <label for="description">A brief description of your talk</label>
          <textarea rows="6" type="text" class="form-control" id="description" formControlName="description"
                    required></textarea>
          <div class="invalid-feedback">
            Required.
          </div>
        </div>
        <div class="form-group">
          <label for="bio">A brief bio about you</label>
          <textarea rows="6" type="text" class="form-control" id="bio" formControlName="bio" required></textarea>
          <div class="invalid-feedback">
            Required.
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" formControlName="email" required>
          <div class="invalid-feedback">
            Required.
          </div>
        </div>
        <div class="form-group">
          <label for="twitter">Twitter</label>
          <input type="text" class="form-control" id="twitter" formControlName="twitter">
        </div>
        <div class="form-group">
          <label for="website">Website</label>
          <input type="text" class="form-control" id="website" formControlName="website">
        </div>
        <div class="form-group">
          <label for="github">Github</label>
          <input type="text" class="form-control" id="github" formControlName="github">
        </div>
        <button class="btn btn-primary" (click)="submit()">Submit</button>
        <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert" *ngIf="err">
          Something went wrong. Please see above for more information.
        </div>
        <div class="alert alert-success alert-dismissible fade show mt-3" role="alert" *ngIf="url">
          Success! We have received your application. You can check on it here: <a [href]="url">{{url}}</a>
        </div>
      </form>
    </div>
    <div class="col-12 mt-4">
      <h3>Questions?</h3>
    </div>
    <div class="col-12">
      <p>Hit us up on slack in the <a href="https://hackregina.slack.com/messages/cfp/">#cfp</a> channel. <a
        href="https://join.slack.com/t/hackregina/shared_invite/enQtMzMyNzMzMDY1MzAxLTliMTZlMDFjOTZkZTIwYTdjMTFlMjVjODYzOGIzZTEwYzYyZjRhMTVlZmY2MjE0NGFlZTk3YmMwZDIzZjgwYjY">Not
        a member yet?</a> We look forward to seeing and hearing your presentation!</p>
    </div>
  </div>
</div>
