/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}

main {
  min-height: 93vh;
}

:host ::ng-deep .page-container {
  padding-top: 100px;
}
