<div class="card" style="height: 100%">
  <div class="card-header"></div>
  <div class="card-body text-center">
    <div class="d-flex">
      <div class="mx-auto w-50">
        <img class="card-img-top rounded-circle" [src]="photo" alt="Photo of {{teamMember.name}}">
      </div>
    </div>
    <h5 class="card-title text-uppercase mt-2">{{teamMember.name}}</h5>
    <div Markdown>
      {{teamMember.description}}
    </div>
    <p>
      <a attr.alt="{{teamMember.name}}'s Facebook"
         *ngIf="teamMember.facebook"
         [href]="teamMember.facebook">
        <i class="fab fa-facebook-square fa-2x px-2"></i>
        <span class="sr-only">Facebook</span>
      </a>
      <a attr.alt="{{teamMember.name}}'s Twitter"
         *ngIf="teamMember.twitter"
         [href]="teamMember.twitter">
        <i class="fab fa-twitter-square fa-2x px-2"></i>
        <span class="sr-only">Twitter</span>
      </a>
      <a attr.alt="{{teamMember.name}}'s Github"
         *ngIf="teamMember.github"
         [href]="teamMember.github">
        <i class="fab fa-github-square fa-2x px-2"></i>
        <span class="sr-only">Github</span>
      </a>
    </p>
  </div>
</div>
