/* You can add global styles to this file, and also import other style files */
$primary: #252a44;
$secondary: #77232b;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
