.bg-stock-img {
  background-size: auto 150%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
}

.bg-stock-img1 {
  background-image: url(/assets/imgs/bg.png);
}

.bg-stock-img2 {
  background-image: url(/assets/imgs/bg2.png);
}

.bg-stock-img3 {
  background-image: url(/assets/imgs/bg3.png);
}

.card-overlap {
  margin-top: -70px;
}
