<div class="page-header jumbotron jumbotron-fluid bg-stock-img bg-stock-img1 d-flex py-5">
  <div class="container text-center my-auto">
    <img src="/assets/imgs/hackregina-logo.svg" alt="HackRegina" class="img-fluid w-75 mb-5">
    <h1 class="lead">Growing and sustaining the Regina tech community.</h1>
  </div>
</div>
<div class="container">
  <div class="row mb-5">
    <div class="col mx-5">
      <div class="card-deck card-overlap text-primary">
        <div class="card text-center" data-aos="fade-up" [style.min-height]="'300px'">
          <div class="card-body d-flex">
            <div class="my-auto">
              <i class="fas fa-calendar fa-3x m-2"></i>
              <h5 class="card-title text-uppercase">Events</h5>
              <p class="card-text">Code together nights, hackathons and educational talks from tech leaders in Regina.</p>
            </div>
          </div>
        </div>
        <div class="card text-center" data-aos="fade-up" [style.min-height]="'300px'">
          <div class="card-body d-flex">
            <div class="my-auto">
              <i class="fab fa-slack fa-3x m-2"></i>
              <h5 class="card-title text-uppercase">Slack</h5>
              <p class="card-text">
                Talk tech, meet people, get help, learn something new. Join the discussion on Slack below!
              </p>
            </div>
          </div>
        </div>
        <div class="card text-center" data-aos="fade-up" [style.min-height]="'300px'">
          <div class="card-body d-flex">
            <div class="my-auto">
              <i class="fas fa-handshake fa-3x m-2"></i>
              <h5 class="card-title text-uppercase">Community</h5>
              <p class="card-text">
                A network of Regina tech companies to share knowledge and help Regina stay ahead of the latest technologies.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-5">
    <div class="row my-5">
      <div class="col text-center">
        <h2 class="text-center text-uppercase">Discover the Innovation in Regina</h2>
        Breaking down the silos of technology ventures is how we hope to help grow a strong community that can support
        each other. Our goal is to assist individuals' growth by providing opportunities to collaborate, learn, and grow
        together. We aim to have a consistent amount of meetups throughout the year for those with busy schedules. Our
        membership is open to the public to encourage those new to learning to code and support them through their journey.
        <p class="my-3">
          <a href="http://eepurl.com/gcYiO1" target="_blank" class="btn btn-primary btn-lg">Subscribe to Updates <i class="fa fa-paper-plane ml-2"></i></a>
        </p>
      </div>
      <div class="col d-none d-md-block">
        <img class="img-fluid" src="./assets/imgs/undraw_work_chat_erdt.svg" />
      </div>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid bg-stock-img bg-stock-img2 py-5">
  <div class="container text-center py-5">
    <h2 class="text-center text-uppercase">Our Amazing Sponsors</h2>
  </div>
</div>
<div class="container my-5">
  <app-sponsors></app-sponsors>
</div>
<div class="container py-5">
  <div class="row m-5">
    <div class="col-md-6 d-none d-md-block">
      <img class="img-fluid" src="./assets/imgs/undraw_goals_w8tw.svg" />
    </div>
    <div class="col-md-6 text-center">
      <h3 class="text-uppercase">Organizations that Support Our Growth</h3>
      <p>
        Nothing of what we aim to accomplish could be possible without the amazing support that we receive from our sponsors.
        Our sponsors help support our community through hosting events, providing services, and other opportunities.
      </p>
      <a href="./assets/2018 Sponsorship Package.pdf">
        <button class="btn btn-lg btn-primary">Become a Sponsor</button>
      </a>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid bg-stock-img bg-stock-img3 py-5">
  <div class="container text-center py-5">
    <h2 class="text-center text-uppercase">Meet our Team</h2>
  </div>
</div>
<div class="container py-5">
  <div class="row my-5">
    <div class="col mx-5 text-center">
      We believe in sharing the work amongst multiple people. The group is stronger with several brains working in concert.
      Thanks to the efforts of our volunteers we are able to help support the community through planning and organizing events.
    </div>
  </div>
</div>
<div class="container my-5">
  <app-team></app-team>
</div>
<div class="jumbotron jumbotron-fluid bg-primary text-white py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-6">
        <h3 class="card-title text-uppercase mt-5">Join our Community</h3>
        <p>
          The first step in join the community is through our Slack channel. We discuss hot topics and upcoming events
          that are happening throughout the year. We also help create opportunities to meet up with others in the community.
        </p>
      </div>
      <div class="col-6 text-center">
        <a href="http://joinslack.hackregina.com" target="_blank" class="btn btn-light p-3 px-md-5">
          <p>
            <i class="fab fa-slack d-md-none d-inline fa-5x"></i>
            <i class="fab fa-slack d-none d-md-inline fa-7x"></i>
          </p>
          <p>Join on Slack</p>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-md-6 order-md-2 mb-4">
      <h4 class="card-title text-uppercase mb-3">Contact us</h4>
      <p>We are always looking to grow our community, please feel free to contact us to see how you can contribute.</p>

      <hr class="mb-4">

      <h5 class="card-title text-uppercase mb-3">Mailing Address</h5>
      <p class="m-0">140 - 2 Research Dr</p>
      <p>Regina, SK S4S 7J7</p>
    </div>
    <div class="col-md-6 order-md-1">
      <form class="needs-validation" action="https://formspree.io/hackregina@crossman.io" method="POST">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="name">Full name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="_replyto" placeholder="">
            <div class="invalid-feedback">
              Please enter a valid email address
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="subject">Subject</label>
          <input type="text" class="form-control" id="subject" name="_subject" placeholder="" required="">
          <div class="invalid-feedback" style="width: 100%;">
            Your subject is required.
          </div>
        </div>

        <div class="mb-3">
          <label for="body">Message</label>
          <textarea class="form-control" id="body" name="body" rows="3"></textarea>
        </div>

        <button class="btn btn-primary btn-lg mt-3" type="submit">Send it</button>
      </form>
    </div>
  </div>
</div>
