<ng-container *ngFor="let level of sponsorshipLevels">
  <h3 class="text-center text-uppercase">{{level?.fields?.level}} Sponsors</h3>
  <div class="row m-5">
    <app-sponsor *ngFor="let sponsor of sponsors | sponsorshipLevel:level"
                 [sponsor]="sponsor.fields"></app-sponsor>
    <div class="col-4 mx-auto text-center" *ngIf="(sponsors | sponsorshipLevel:level)?.length === 0">
      There are currently no {{level?.fields?.level}} sponsors.
    </div>
  </div>
</ng-container>

<div class="text-center pb-5">
  <a href="./assets/2018 Sponsorship Package.pdf">
    <button class="btn btn-lg btn-primary">Become a Sponsor</button>
  </a>
</div>
